
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
    animation: entrada 1s forwards;

}

.form-image img {
    width: 31rem;
	transition: .3s;
    animation: opacity 1s forwards;

}
.form-image img:hover {
    width: 33rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    animation: entrada2 1s forwards;

}

.form-header {
    width: 20rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-button {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}


.register-button a {
	font-size: 1rem;
    text-decoration: underline;
    font-weight: 500;
    color: #6c63ff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
	transition: .3s;
}
.form-header h1:hover:after {
    width: 10rem;

}


@keyframes entrada {
    0%{
        transform: translateX(+50%);
    }
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
}

@keyframes entrada2 {
    0%{
        transform: translateX(-50%);
    }
}


.input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.robot-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.robot-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.robot-input {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.robot-input input {
    margin-right: 0.35rem;
}

.robot-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #6b63fff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.input-box .uil-eye{
    font-size: 19px;
}

.text-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-input i{
    cursor: pointer;
}



@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    
	.container{
		width: 50%;
	}

	.form{
		width: 100%;
	}
}

@media screen and (max-width: 1064px){
	.container{
		width: 90%;
		height: auto;
	}

	.input-group{
		flex-direction: column;
		overflow-y: scroll;
		flex-wrap: nowrap;
		max-height: 10rem;
		padding-right: 5rem;
	}

	.robot-inputs{
		margin-top: 2rem;
	}

	.robot-group{
		flex-direction: column;
	}

	.robot-input{
		margin-top: .5rem;
	}
}

.span-required{
    display: none;
    font-size: 12px;
    margin: 2px 0 0px 1px;
    color: #ff0000;
}